/src/Debug/*.*
/src/Debug/*
/src/Release/*.*
/src/Release/*
/src/x64/*.*
/src/x64/*
/src/libBase/Debug/*.*
/src/libBase/Debug/*
/src/libBase/Release/*.*
/src/libBase/Release/*
/src/libBase/x64/*.*
/src/libBase/x64/*
/src/libHTTP/Debug/*.*
/src/libHTTP/Debug/*
/src/libHTTP/Release/*.*
/src/libHTTP/Release/*
/src/libHTTP/x64/*.*
/src/libHTTP/x64/*
/src/UTLib/Debug/*.*
/src/UTLib/Debug/*
/src/UTLib/Release/*.*
/src/UTLib/Release/*
/src/UTLib/x64/*.*
/src/UTLib/x64/*
*.suo
*.opendb
*.user
