################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/src/x64/Release/UTLib.pdb
/src/x64/Release/UTLib.ipdb
/src/x64/Release/UTLib.iobj
/src/x64/Release/UTLib.exe
/src/x64/Release/libBase.lib
/src/x64/Release
/src/x64/Debug/UTLib.pdb
/src/x64/Debug/UTLib.ilk
/src/x64/Debug/UTLib.exe
/src/x64/Debug/libHTTP.pdb
/src/x64/Debug/libHTTP.lib
/src/x64/Debug/libBase.pdb
/src/x64/Debug/libBase.lib
/src/x64/Debug
/src/x64
/src/UTLib/x64/Release/vc140.pdb
/src/UTLib/x64/Release/UTLib.tlog/UTLib.lastbuildstate
/src/UTLib/x64/Release/UTLib.tlog/link.write.1.tlog
/src/UTLib/x64/Release/UTLib.tlog/link.read.1.tlog
/src/UTLib/x64/Release/UTLib.tlog/link.command.1.tlog
/src/UTLib/x64/Release/UTLib.tlog/CL.write.1.tlog
/src/UTLib/x64/Release/UTLib.tlog/CL.read.1.tlog
/src/UTLib/x64/Release/UTLib.tlog/CL.command.1.tlog
/src/UTLib/x64/Release/UTLib.tlog
/src/UTLib/x64/Release/UTLib.obj
/src/UTLib/x64/Release/UTLib.log
/src/UTLib/x64/Release/UnitTest.obj
/src/UTLib/x64/Release/stdafx.obj
/src/UTLib/x64/Release
/src/UTLib/x64/Debug/vc140.pdb
/src/UTLib/x64/Debug/vc140.idb
/src/UTLib/x64/Debug/UTLib.tlog/UTLib.lastbuildstate
/src/UTLib/x64/Debug/UTLib.tlog/link.write.1.tlog
/src/UTLib/x64/Debug/UTLib.tlog/link.read.1.tlog
/src/UTLib/x64/Debug/UTLib.tlog/link.command.1.tlog
/src/UTLib/x64/Debug/UTLib.tlog/CL.write.1.tlog
/src/UTLib/x64/Debug/UTLib.tlog/CL.read.1.tlog
/src/UTLib/x64/Debug/UTLib.tlog/CL.command.1.tlog
/src/UTLib/x64/Debug/UTLib.tlog
/src/UTLib/x64/Debug/UTLib.obj
/src/UTLib/x64/Debug/UTLib.log
/src/UTLib/x64/Debug/UnitTest.obj
/src/UTLib/x64/Debug/stdafx.obj
/src/UTLib/x64/Debug
/src/UTLib/x64
/src/UTLib/Debug/vc140.pdb
/src/UTLib/Debug/vc140.idb
/src/UTLib/Debug/UTLib.tlog/UTLib.lastbuildstate
/src/UTLib/Debug/UTLib.tlog/link.write.1.tlog
/src/UTLib/Debug/UTLib.tlog/link.read.1.tlog
/src/UTLib/Debug/UTLib.tlog/link.command.1.tlog
/src/UTLib/Debug/UTLib.tlog/CL.write.1.tlog
/src/UTLib/Debug/UTLib.tlog/CL.read.1.tlog
/src/UTLib/Debug/UTLib.tlog/CL.command.1.tlog
/src/UTLib/Debug/UTLib.tlog
/src/UTLib/Debug/UTLib.obj
/src/UTLib/Debug/UTLib.log
/src/UTLib/Debug/UnitTest.obj
/src/UTLib/Debug/stdafx.obj
/src/UTLib/Debug
/src/UTLib
/src/libHTTP/x64/Release/vc140.pdb
/src/libHTTP/x64/Release/libHTTP.tlog/unsuccessfulbuild
/src/libHTTP/x64/Release/libHTTP.tlog/libHTTP.lastbuildstate
/src/libHTTP/x64/Release/libHTTP.tlog/CL.write.1.tlog
/src/libHTTP/x64/Release/libHTTP.tlog/CL.read.1.tlog
/src/libHTTP/x64/Release/libHTTP.tlog/CL.command.1.tlog
/src/libHTTP/x64/Release/libHTTP.tlog
/src/libHTTP/x64/Release/libhttp.obj
/src/libHTTP/x64/Release/libHTTP.log
/src/libHTTP/x64/Release
/src/libHTTP/x64/Debug/vc140.pdb
/src/libHTTP/x64/Debug/vc140.idb
/src/libHTTP/x64/Debug/libHTTP.tlog/libHTTP.lastbuildstate
/src/libHTTP/x64/Debug/libHTTP.tlog/lib.command.1.tlog
/src/libHTTP/x64/Debug/libHTTP.tlog/Lib-link.write.1.tlog
/src/libHTTP/x64/Debug/libHTTP.tlog/Lib-link.read.1.tlog
/src/libHTTP/x64/Debug/libHTTP.tlog/CL.write.1.tlog
/src/libHTTP/x64/Debug/libHTTP.tlog/CL.read.1.tlog
/src/libHTTP/x64/Debug/libHTTP.tlog/CL.command.1.tlog
/src/libHTTP/x64/Debug/libHTTP.tlog
/src/libHTTP/x64/Debug/libHTTP.pdb
/src/libHTTP/x64/Debug/libhttp.obj
/src/libHTTP/x64/Debug/libHTTP.log
/src/libHTTP/x64/Debug/libHTTP.idb
/src/libHTTP/x64/Debug/ddsocket.obj
/src/libHTTP/x64/Debug
/src/libHTTP/x64
/src/libHTTP/libHTTP.vcxproj.user
/src/libHTTP/Debug/libsocket.obj
/src/libHTTP/Debug/libHTTP.tlog/libHTTP.lastbuildstate
/src/libHTTP/Debug/libHTTP.tlog/lib.command.1.tlog
/src/libHTTP/Debug/libHTTP.tlog/Lib-link.write.1.tlog
/src/libHTTP/Debug/libHTTP.tlog/Lib-link.read.1.tlog
/src/libHTTP/Debug/libHTTP.tlog/CL.write.1.tlog
/src/libHTTP/Debug/libHTTP.tlog/CL.read.1.tlog
/src/libHTTP/Debug/libHTTP.tlog/CL.command.1.tlog
/src/libHTTP/Debug/libHTTP.tlog
/src/libHTTP/Debug/libHTTP.pdb
/src/libHTTP/Debug/libhttp.obj
/src/libHTTP/Debug/libHTTP.log
/src/libHTTP/Debug/libHTTP.idb
/src/libHTTP/Debug/ddsocket.obj
/src/libHTTP/Debug
/src/libHTTP
/src/libBase/x64/Release/vc140.pdb
/src/libBase/x64/Release/task.obj
/src/libBase/x64/Release/object.obj
/src/libBase/x64/Release/memorymng_inl.obj
/src/libBase/x64/Release/memorymng.obj
/src/libBase/x64/Release/libBase.tlog/libBase.lastbuildstate
/src/libBase/x64/Release/libBase.tlog/lib.command.1.tlog
/src/libBase/x64/Release/libBase.tlog/Lib-link.write.1.tlog
/src/libBase/x64/Release/libBase.tlog/Lib-link.read.1.tlog
/src/libBase/x64/Release/libBase.tlog/custombuild.write.1.tlog
/src/libBase/x64/Release/libBase.tlog/custombuild.read.1.tlog
/src/libBase/x64/Release/libBase.tlog/custombuild.command.1.tlog
/src/libBase/x64/Release/libBase.tlog/CL.write.1.tlog
/src/libBase/x64/Release/libBase.tlog/CL.read.1.tlog
/src/libBase/x64/Release/libBase.tlog/CL.command.1.tlog
/src/libBase/x64/Release/libBase.tlog
/src/libBase/x64/Release/libBase.pdb
/src/libBase/x64/Release/libBase.log
/src/libBase/x64/Release
/src/libBase/x64/Debug/task.obj
/src/libBase/x64/Debug/object.obj
/src/libBase/x64/Debug/memorymng_inl.obj
/src/libBase/x64/Debug/memorymng.obj
/src/libBase/x64/Debug/libBase.tlog/libBase.lastbuildstate
/src/libBase/x64/Debug/libBase.tlog/lib.command.1.tlog
/src/libBase/x64/Debug/libBase.tlog/Lib-link.write.1.tlog
/src/libBase/x64/Debug/libBase.tlog/Lib-link.read.1.tlog
/src/libBase/x64/Debug/libBase.tlog/custombuild.write.1.tlog
/src/libBase/x64/Debug/libBase.tlog/custombuild.read.1.tlog
/src/libBase/x64/Debug/libBase.tlog/custombuild.command.1.tlog
/src/libBase/x64/Debug/libBase.tlog/CL.write.1.tlog
/src/libBase/x64/Debug/libBase.tlog/CL.read.1.tlog
/src/libBase/x64/Debug/libBase.tlog/CL.command.1.tlog
/src/libBase/x64/Debug/libBase.tlog
/src/libBase/x64/Debug/libBase.pdb
/src/libBase/x64/Debug/libBase.log
/src/libBase/x64/Debug/libBase.idb
/src/libBase/x64/Debug/libBase.Build.CppClean.log
/src/libBase/x64/Debug
/src/libBase/x64
/src/libBase/Debug/task.obj
/src/libBase/Debug/spinlock.obj
/src/libBase/Debug/object.obj
/src/libBase/Debug/memorymng.obj
/src/libBase/Debug/libBase.tlog/libBase.lastbuildstate
/src/libBase/Debug/libBase.tlog/lib.command.1.tlog
/src/libBase/Debug/libBase.tlog/Lib-link.write.1.tlog
/src/libBase/Debug/libBase.tlog/Lib-link.read.1.tlog
/src/libBase/Debug/libBase.tlog/CL.write.1.tlog
/src/libBase/Debug/libBase.tlog/CL.read.1.tlog
/src/libBase/Debug/libBase.tlog/CL.command.1.tlog
/src/libBase/Debug/libBase.tlog
/src/libBase/Debug/libBase.pdb
/src/libBase/Debug/libBase.log
/src/libBase/Debug/libBase.idb
/src/libBase/Debug
/src/libBase
/src/Debug/utLibTest.pdb
/src/Debug/utLibTest.lib
/src/Debug/utLibTest.ilk
/src/Debug/utLibTest.exp
/src/Debug/utLibTest.dll
/src/Debug/UTLib.pdb
/src/Debug/UTLib.ilk
/src/Debug/UTLib.exe
/src/Debug/libHTTP.pdb
/src/Debug/libHTTP.lib
/src/Debug/libBase.pdb
/src/Debug/libBase.lib
/src/Debug
/src/.vs/DDnote/v14/.suo
/src/.vs/DDnote/v14
/src
/.vs/DDNote/v15/.suo
/.vs/DDNote/v15/ipch
/source/client/win32/DDNote/Debug
/source/client/win32/DDNote/DDNote.aps
/.vs/DDNote/v15/Browse.VC.opendb
